.banner-static {
	background: #fff url(../img/slider-bg.jpg) 90% top no-repeat;
	@media(max-width: 1366px) {
		background: #fff url(../img/slider-bg.jpg) center top no-repeat;
		background-size: cover;
	}
	// background-size: cover;
	padding-top: 190px;
	overflow: hidden;
	.banner-content {
		padding-top: 140px;
		h3 {margin: 0;color: #190A32;font-size: 42px;line-height: 60px;font-weight: 600;margin-bottom: 11px;}
		p {margin: 0;color: #666666;font-size: 16px;line-height: 30px;margin-bottom: 54px;}
		.thm-btn + .thm-btn {margin-left: 15px;}
		.thm-btn {
			box-shadow: drop-shadow-converter(#d43297, $angle: 90, $distance: 15px, $spread: 0, $size: 30px, $opacity: 27%);
			&:hover {
				color: #fff;
				&:before {
					opacity: 0;
				}
				box-shadow: drop-shadow-converter(#d43297, $angle: 90, $distance: 15px, $spread: 0, $size: 30px, $opacity: 27%);
			}
		}
		.thm-btn.borderd {box-shadow: none;}
		.thm-btn.borderd:hover {
			&:before {
				opacity: 0;
			}
			box-shadow: drop-shadow-converter(#d43297, $angle: 90, $distance: 15px, $spread: 0, $size: 30px, $opacity: 27%);
		}
	}
	.banner-moc-box {
		> img {position: relative;left: 175px;}
	}
}