.features-style-one {
	.feature-style-content {
		padding-top: 50px;
		&.pl40 {padding-left: 40px;}
		> i {font-size: 45px;@include thmGradientText();line-height: 1;}
		h3 {margin: 0;color: #150A33;font-size: 32px;line-height: 48px;margin-top: 25px;margin-bottom: 20px;}
		p {font-size: 16px;line-height: 27px;color: #656565;letter-spacing: .01em;margin: 0;margin-bottom: 20px;}
		a.more {font-size: 16px;font-weight: 600;color: #6B40BF;transition: all .4s ease;
			i {margin-left: 5px;vertical-align: middle;}
			&:hover {color: #d43297;}
		}
	}
	img.has-dropshadow {
		box-shadow: drop-shadow-converter(#4E3087, $angle: 90, $distance: 16px, $spread: 0, $size: 43px, $opacity: 24%);
	}
}