@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

@import url(bootstrap.min.css);
@import url(bootstrap-select.min.css);
@import url(../plugins/flaticons/flaticon.css);
@import url(owl.carousel.css);
@import url(owl.theme.default.min.css);
@import url(nouislider.css);
@import url(nouislider.pips.css);
@import url(jquery.bootstrap-touchspin.css);
@import url(magnific-popup.css);
@import url(swiper.css);
@import url(jquery.bxslider.min.css);

@import url(animate.min.css);
@import url(hover-min.css);
@import url(../plugins/fontawesome-5/css/fontawesome-all.min.css);