.inner-banner {
	position: relative;
	background: #000 url(../img/inner-banner-bg.jpg) center center no-repeat;
	background-size: cover;
    padding-top: 240px;
    padding-bottom: 120px;
	&:before {
		content: '';
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		@include thmGradient();
		opacity: .79;
	}
	.container {
		position: relative;
	}
    h3 {font-size: 36px;color: #FFFFFF;font-weight: 600;margin: 0;
        span {color: #000000;}
    }
	.breadcumb {
		line-height: 1em;
		margin-top: 25px;
        a,
        i,
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 1em;
        }
        a {
            color: #000000;
            font-family: 'Poppins';
            font-size: 16px;
        }
        i {
            color: #FFFFFF;
            font-size: 13px;
            margin-left: 7px;
            margin-right: 7px;
        }
        span {
            color: #FFFFFF;
            font-family: 'Poppins';
            font-size: 16px;
        }
    }
}