.has-right-sidebar {
    padding-right: 45px;
}

.sidebar {
    .single-sidebar {
    	+.single-sidebar {
    		margin-top: 45px;
    	}
        .title {
        	margin-bottom: 30px;
            h3 {
                margin: 0;
                color: #150A33;
                font-size: 22px;
                font-weight: 600;
                &:after {
                    content: '';
                    display: inline-block;
                    width: 35px;
                    height: 2px;
                    background: #CD3498;
                    margin-left: 10px;
                }
            }
        }
        &.search-widget {
            background: #cd339a;
            form {
                position: relative;
                height: 54px;
                input {
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    font-size: 15px;
                    padding-left: 20px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    letter-spacing: .05em;
                    @include placeholder {
                        color: #fff;
                    }
                }
                button {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color: #FFFFFF;
                    font-size: 15px;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                }
            }
        }
        &.category-widget {
            ul.category-list {
                &,
                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                li+li {
                    border-top: 1px solid #E0E0E0;
                    padding-top: 10px;
                    margin-top: 10px;
                }
                li a {
                    color: #7D7D7D;
                    font-size: 15px;
                    font-weight: 500;
                    position: relative;
                    display: block;
                    transition: all .4s ease;
                    &:hover {color: #CD339A;}
                    &:after {
                        content: '\f105';
                        font-family: 'FontAwesome';
                        font-size: 15px;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        &.recent-post-widget {
            .recent-post-list {
                .single-recent-post {
                	border-bottom: 1px solid #E0E0E0;
                	padding-bottom: 15px;
                    margin-bottom: 0;
                	+ .single-recent-post {margin-top: 20px;}
                    h3 {
                        margin: 0;
                        color: #150A33;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: .01em;
                        font-weight: 600;
                        margin-bottom: 10px;
                        transition: all .4s ease;
                        &:hover {
                        	color: #CD339A;
                        }
                    }
                    a.date {
                    	color: #929191;
                    	font-size: 15px;
                    	line-height: 1em;
                    	display: inline-block;
                    	font-weight: 500;
                    }
                }
            }
        }
        &.tags-widget {
            ul.tags-list {
				&, li {margin: 0;padding: 0;list-style: none;}
				& {margin-left: -5px;margin-right: -5px;}
				li {display: inline-block;vertical-align: middle;padding: 0 5px;margin-bottom: 10px;}
				li a {display: block;border: 1px solid #E0E0E0;color: #929191;font-size: 15px;line-height: 1em;font-weight: 500;padding: 10px 19px;transition: all .4s;
					&:hover {color: #fff;border-color: #CC3498;background:#CC3498;}
				}
            }
        }
    }
}