/*----------------------------------------
    gallery  Page
------------------------------------------*/
.gallery-sizer
{
    width: 20%;
}

.gallery-item img
{
    width: 20%;
}

.slider .indicators
{
    z-index: 9999;
}
