/*----------------------------------------
    Products
------------------------------------------*/
/* ---- Product Card ----- */
.product .card .btn-price
{
    font-size: 1.0rem;
    font-weight: 600;
    line-height: 65px;

    position: absolute;
    top: 0;

    width: 65px;
    height: 65px;
    margin: 10px;

    letter-spacing: 0;
}
