.settings_menu {
  margin-left: 5px !important;
}

.ml-5 {
	margin-left: 5px !important;
}

.ml-auto {
	margin-left: auto !important;
}

.invert {
	height:45px;
	width: 37px;
	transform: rotate(90deg);
	margin-left:5px;
	margin-right:5px;
}

.header-group {
	position:relative;
	bottom:3px;
}