.graficoMore{
	float: right;
  margin-right: 2%;
}

.graficos{
	padding: 15px;
}

.tamanhoGrafico{
	margin-left:10%;
  border: 1px solid #cecece;
  border-radius: 10px;
}

.actived {
    border-radius: 8px;
    border: 4px solid #ffb416 !important;
}

.graficonumero{
margin-top: 26%;
    width: 70%;
    position: relative;
    z-index: 99999999;
    left: 25%;
    transform: translate(-50%, -50%);
    margin-left: 22%;

}

.modal-dialog{
    overflow-y: initial;
}

.modal-body{
    max-height: 80vh;
    overflow-y: auto;
}