@mixin placeholder {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @content;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        @content;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        @content;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        @content;
    }
}

@mixin thmGradient () {
    background: rgba(101, 65, 193, 1);
    background: -moz-linear-gradient(left, rgba(101, 65, 193, 1) 0%, rgba(212, 51, 150, 1) 98%, rgba(212, 51, 150, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101, 65, 193, 1)), color-stop(98%, rgba(212, 51, 150, 1)), color-stop(100%, rgba(212, 51, 150, 1)));
    background: -webkit-linear-gradient(left, rgba(101, 65, 193, 1) 0%, rgba(212, 51, 150, 1) 98%, rgba(212, 51, 150, 1) 100%);
    background: -o-linear-gradient(left, rgba(101, 65, 193, 1) 0%, rgba(212, 51, 150, 1) 98%, rgba(212, 51, 150, 1) 100%);
    background: -ms-linear-gradient(left, rgba(101, 65, 193, 1) 0%, rgba(212, 51, 150, 1) 98%, rgba(212, 51, 150, 1) 100%);
    background: linear-gradient(to right, rgba(101, 65, 193, 1) 0%, rgba(212, 51, 150, 1) 98%, rgba(212, 51, 150, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6541c1', endColorstr='#d43396', GradientType=1);
}

@mixin thmGradientInverse () {
    background: rgba(212, 51, 150, 1);
    background: -moz-linear-gradient(left, rgba(212, 51, 150, 1) 0%, rgba(101, 65, 193, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212, 51, 150, 1)), color-stop(100%, rgba(101, 65, 193, 1)));
    background: -webkit-linear-gradient(left, rgba(212, 51, 150, 1) 0%, rgba(101, 65, 193, 1) 100%);
    background: -o-linear-gradient(left, rgba(212, 51, 150, 1) 0%, rgba(101, 65, 193, 1) 100%);
    background: -ms-linear-gradient(left, rgba(212, 51, 150, 1) 0%, rgba(101, 65, 193, 1) 100%);
    background: linear-gradient(to right, rgba(212, 51, 150, 1) 0%, rgba(101, 65, 193, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43396', endColorstr='#6541c1', GradientType=1);
}

@mixin thmGradientText {
    background: linear-gradient(to right, rgba(101, 65, 193, 1) 0%, rgba(212, 51, 150, 1) 98%, rgba(212, 51, 150, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}